{% extends 'base.html.twig' %}

{% block title %}Listar alunos{% endblock %}

{% block body %}
    <h1>Listar alunos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Curso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.id }}</td>
                <td>{{ aluno.Nome }}</td>
                <td>{{ aluno.curso }}</td>
                <td>
                    <a href="{{ path('aluno_editar', {'id': aluno.id}) }}">Editar</a>
                    <a href="{{ path('aluno_remover', {'id': aluno.id}) }}">Remover</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Nenhum aluno cadastrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
